table {
  margin: auto;
}
h1 {
  margin-bottom: 30px;
  color: rgb(108, 185, 201);
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
  text-align: center;
}
td {
  padding: 17px;
  border-radius: 1.5rem;
}

/* From Uiverse.io by Madflows */
.tabel {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tabel:hover::before {
  transform: scaleX(1);
}

.tabel-content {
  position: relative;
  z-index: 1;
}

.tabel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(34, 68, 105) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
